<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="">
            <span class="bi bi-box-seam-fill me-2 text-primary"></span>
            <span class="fw-bold">allet</span>
        </a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="CollapseNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Feed
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="library">
                        Library
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="productions">
                        Productions
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="artists">
                        Artists
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="artists/compare">
                        Compare Tours
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}
